body
{
  background-image: url(websiteimages/background1.jpg);
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Circular Std', sans-serif;
}



/*main container*/



.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.5rem 0;
  position: relative;
}
.container-img
{
  position: relative;
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.45);
  border-radius: 32px;
}
.container-img-desktop
{
  display: none;
}

@media only screen and (min-width: 600px)
{
  .container-img
  {
    display: none;
  }
  .container-img-desktop
  {
    display: flex;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.45);
    border-radius: 32px;
  }
}



/*profile section*/



.profile-group
{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 2.5rem;
  margin-bottom: 1rem;
}
.profile-picture
{
  width: 6rem;
  height: 6rem;
  border-radius: 3.0625rem;
  margin-bottom: 1.1rem;
}
.name
{
  font-size: 1rem;
}
.description
{
  color: #505050;
  margin-top: 0.25rem;
  font-size: 1rem;
}



/*link section*/



.link-group
{
  position: absolute;
  top: 27%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
/*full white button background*/
.button
{
  position: relative;
  background: white;
  padding: 0.5rem 5rem;  
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform .2s;
}
.button:hover
{
  transform: scale(1.05);
}
/*button logo*/
.button img
{
  display: block;
}
.spotify, .apple, .youtube-music, .amazon, .soundcloud, .pandora, .deezer, .tidal
{
  width: 7.8125rem;
  height: 2.5rem;
}
.spotify-blue
{
  width: 7.8125rem;
  height: 2.5rem;
}
/*real color logo*/
.button .spotify, .button .apple, .button .youtube-music, .button .amazon, .button .soundcloud, .button .pandora, .button .deezer, .button .tidal
{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}
.button:hover .spotify, .button:hover .apple, .button:hover .youtube-music, .button:hover .amazon, .button:hover .soundcloud, .button:hover .pandora, .button:hover .deezer, .button:hover .tidal
{
  display: inline;
}

@media only screen and (min-width: 600px)
{
  .button
  {
    padding: 0.5rem 9.21875rem;  
  }
}
